
# it will automatic activate when access dir has this file
# INSTALL: sudo apt install direnv => add | eval "$(direnv hook bash)" | in .bashrc
# direnv allow | in the dir of project 

## source .venv/bin/activate
